<section class="cuerpo">
            
    <img id="imagen" src="">
    <div class="texto">
        <h1 id="fecha"></h1>
        <p id="desc"></p>
    </div>
        
</section>

<script is:inline>
    const API_KEY = 'fvKuujPyqJwYfeToP16jxt9wHGqHHuYguJbO15IC';

    const url = `https://api.nasa.gov/planetary/apod?api_key=${API_KEY}`;

     fetch(url)
     .then(response => response.json())
     .then(data => {
         const imageUrl = data.url;
         const explanation = data.explanation;
         const date = data.date;

         console.log(`Fecha: ${date}`);
         console.log(`Explicación: ${explanation}`);
         console.log(`URL de la imagen: ${imageUrl}`);
         document.getElementById('fecha').innerText = date;
         document.getElementById('imagen').src = imageUrl;
         document.getElementById('desc').innerText = explanation;

     })
     .catch(error => {
         console.error(`Error: ${error}`);
     });

     

 </script>
 <style>
    #imagen {
        transform: scale(0.39);
    }
	html {
		font-family: system-ui, sans-serif;
		background: #dee1e7;
		background-size: 224px;
	}
    .texto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .texto p {
        padding: 10px;
        margin-right: 90px;

        text-align:justify;
    }
    .texto h1 {
        padding: 10px;
        margin-right: 90px;
    }
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
    .cuerpo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
    }
</style>
